@model EntityLayer.Concrete.Category

@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Kategori Güncelleme Sayfası</h2>

@using (Html.BeginForm("UpdateCategory", "AdminCategory", FormMethod.Post)) 
{ 
<div class="form-group">
    @Html.Label("Kategori ID")
    @Html.TextAreaFor(c => c.CategoryID, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori Adı")
    @Html.TextAreaFor(c => c.CategoryName, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori Açıklaması")
    @Html.TextAreaFor(c => c.CategoryDescription, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</div>
}

