@model EntityLayer.Concrete.Heading


@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Başlık Güncelleme Sayfası</h2>

@using (Html.BeginForm("EditHeading", "Heading", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Başlık ID")
    @Html.TextBoxFor(h => h.HeadingID, new { @class = "form-control" })
    <br />
    @Html.Label("Başlık Adı")
    @Html.TextBoxFor(h => h.HeadingName, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(h => h.HeadingDate, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar ID")
    @Html.TextBoxFor(h => h.WriterID, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(c => c.CategoryID, (List<SelectListItem>)ViewBag.valueCategoryView, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</div>
}

